
/**************************         
IMPORT
***************************/     
@import "imports.scss"; // media queries - if needed 


/**************************
TEMPLATES begin 
***************************/   
/*-----------------------------------------------------------------------------------

        ! ! !    R E A D   T H I S    ! ! !  
        -----------------
         
        It's recomended to use/create a custom css file (or place them at the end of this file) 
        to do you customizations in order to easily update the main css files without loosing your changes
        
        
        > > Please take also a look at the documentation file.       
        
         
         
        
                         



/*-----------------------------------------------------------------------------------

    0.  RESET & CLEARFIX
    1.  BASICS (body, headers, links, etc)
    2.  GENERAL ELEMENTS
    3.  HOME PAGE
    4.  PAINTING PAGE
    5.  FOOTER
    6.  NAVIGATION & MENU
    7.  SLIDER
    8.  SECTION
    9.  PAGETITLE
    10. MASONRY (Portfolio/Blog)
    11. PAGINATION
    12. SHARE 
    13. FILTER
    14. BLOG
    15. SPLIT SECTION
    16. COLUMNS GRID
    17. MAP
    18. ELEMENTS / SHORTCODES
    19. IMG OVERLAY
    20. BORDERS  
    21. PAGE INSTALL
    22. CUSTOM
     
-----------------------------------------------------------------------------------*/
/*---------------------------------------------- 
2. GENERAL ELEMENTS
------------------------------------------------*/
html{
    @include scrollbars(0.5em, $black);  
}

body{
    @include MQ(M){
        overflow-y: hidden; 
    }
    margin:0;
    padding:0; 
}

/*---------------------------------------------- 
3. HOME PAGE
------------------------------------------------*/


.enterence{ 
    background: $black;
    height:20vh;
    width: 100vw;
    position: fixed;
    transition: all 2s $transition-load; 
    z-index: 20;
    @include MQ(M){
        height:100vh;
    }
    .container{
        @include MQ(M){
            margin-left: 7vw;
        }
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all .5s $transition-load ; 
    }
    .name_title{
        margin-top: 1.5vh;
        opacity: 0;
        @include MQ(M){
            margin-top: 10vh;
        }
        transition: all .8s $transition-load 0.3s;
        h1{
            display: flex;
            color:$white;
            span{ 
                transition: all .5s $transition-load; 
                opacity: 1;
                display: flex;
                flex: 1; 
            }
        }
    }

    .social_icons{
        transition: all 0.7s $transition-load 3.2s;
        transform: translate(0, 20px);
        opacity: 0;
        flex-direction: row;
        display: flex;
        align-items: center;
        margin-top: 5vh; 
        a{
            width: 40px; 
            height: 40px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
            transition: box-shadow 0.5s $transition-load; 
            &:hover{
                box-shadow: inset 0px 0px 0px 1px #FFFFFF;  
            }
            &:first-child{
                background-image:url('../img/facebook.svg'); 
            }
            &:nth-child(2){
                background-image:url('../img/twitter.svg');
            }
            &:nth-child(3){
                background-image:url('../img/instagram.svg');
            } 
            &:nth-child(4){
                background-image:url('../img/linkedin.svg'); 
            }
        }
    }

    .navigation{
        display: flex;
        flex:1;
        justify-content: flex-start;
        margin-bottom: 10vh;
        align-items: flex-end;
        nav{
            opacity:0;
            margin-left: -1vw;
            transition: all 0.7s $transition-load 0.5s;
            ul{
                padding-left:0;
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 35vw;
                li{
                    text-align: left;
                    padding: 1vw;
                    span{
                        opacity: 1;
                        transition:all 0.6s $transition-load;
                        border-top: 2px solid $white;  
                        display: block;
                        margin-top: -0.8em;
                        width: 0%;
                    }
                    &:hover{
                         &:first-child{
                            span{
                                width:7em;
                            }
                        }
                        &:nth-child(2){
                            span{
                                width:7vw;
                            }
                        }
                        &:nth-child(3){
                            span{
                                width:10vw;
                            }
                        }
                        span{
                            opacity:1;
                            width: 100%;
                            margin-left: -1em;
                        }
                    }
                }
            }
        }
    }



    &.enterence_open{
        .name_title{
            opacity: 1;
        }
        @include MQ(M){
            width: 35vw;
        }  
        nav{
            opacity:1;
            transform: translate(0,0);
        }
        .social_icons{
            opacity: 1;
            transform: translate(0,0); 
        }
    }
    &.enterence_short{
        height:10vh;
        @include MQ(M){
            width: 25vw;
            height: 100vh;
        }
        .container{ 
            @include MQ(M){
                margin-left: 4vw;
            }
        }
        .name_title{  
            opacity: 1;
            h1{
                display: flex;
                flex-direction: row;       
                span{ 
                       
                    &:nth-child(2){
                        transition: color 0.5s $transition-load 0.5s;
                        padding-left: 0.7vw;
                        @include MQ(M){
                            color:$black;
                        }
                    }
                }
            }
        }
        .social_icons{
            opacity: 1;       
        }
        nav{
            opacity: 1;
        }
    }
 }




.white_overlay{
    height: 100vh;
    width: 10vw;
    position: fixed; 
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 10;
    right: 0;
    .svg{
        position: absolute;
        top: 10vh;
        z-index: 25;
        right: 3vw;
        #line{

        }
        #triangle{
            animation: animate 3s $transition-load;
            animation-iteration-count: infinite;

            @keyframes animate{
                0%{
                    transform: translate(0,0);
                    opacity: 0;
                }
                30%{
                    opacity: 1;
                }
                70%{
                    opacity: 1;
                }
                100%{
                    transform: translate(40px,0);
                    opacity: 0; 
                }
            }
        }
    }
}





.page_container{
    display: flex;
    transition: all 2s $transition-load ;
    transform: translate(100vw,0); 
    &.enterence_short_img{
        transform:translate(30vw,0);
    }
    &.img_load_animation{
        transform: translate(45vw,0);
    }
    .img_container{
        display: flex;
        height: 100vh;
        .img_box{
            margin: 5vh 10vw 5vh 0;
            display: flex;
            flex-direction: column;
            .detail_box{
                min-width: 35%;
                display: flex;
                align-self: flex-end;
                margin: 1vh 0;
                justify-content: flex-end;
                p{
                    color: $black;
                    text-align: right;
                }
            }
            .img{
                width: auto;
                height: 60vh;
            }
        }
        .img_box_1{
            align-self: flex-start;
        }
        .img_box_2{
            align-self: center;
        }
        .img_box_3{
            align-self: flex-end;
        }
    }
    
}


#painting_page{

}

#contact_about{
    overflow: auto;
    overflow-x: hidden;
    .enterence_open{
        @include MQ(M){
                width: 25vw;
        }    
    }
    .white_overlay{
            display: none;
    }
    .contact_about_section{
        display: flex;
        margin: 10vh;
        flex: 1;
        transition-delay: 0.5s; 
        flex-direction: column; 
        margin: 10vh;
        @include MQ (L){
            flex-direction: row;
        }
        .section{
            padding: 0 2.5vw; 
            flex: 1;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: column;
            z-index: 15;
        }
        .about_section{
            
        }
        .contact_section{
            .divider{
                border-top: 2px solid #000;
                margin:6vh 0 3vh; 
                width: 100%;
            }
            .form_button{
                margin-right: 2vw;
            }
            .extra_information{
                width: 100%;
                .information_containers{
                    margin-top: 3vh;
                    flex: 1;
                    display: flex;
                    .extra_title{
                        width: 40%;
                        float:left; 
                    }
                    .extra_text{
                        width: 60%;
                        float:left;
                    }
                }
            }   
        }
    }
    .page_container{

        &.img_load_animation{
            width: 75vw;
            transform: translate(25vw,0);
        }
    }
}

.testdiv{
    height: 100vh;
    width: 300vw;
}






