
/**************************         
IMPORT
***************************/     
@import "imports.scss"; // media queries - if needed 


/**************************
TEMPLATES begin 
***************************/   
/*-----------------------------------------------------------------------------------

        ! ! !    R E A D   T H I S    ! ! !  
        -----------------
         
        It's recomended to use/create a custom css file (or place them at the end of this file) 
        to do you customizations in order to easily update the main css files without loosing your changes
        
        
        > > Please take also a look at the documentation file.       
        
         
         
        
                         



/*-----------------------------------------------------------------------------------

    0.  RESET & CLEARFIX
    1.  BASICS (body, headers, links, etc)
    2.  GENERAL ELEMENTS
    3.  HOME PAGE
    4.  PAINTING PAGE
    5.  FOOTER
    6.  NAVIGATION & MENU
    7.  SLIDER
    8.  SECTION
    9.  PAGETITLE
    10. MASONRY (Portfolio/Blog)
    11. PAGINATION
    12. SHARE 
    13. FILTER
    14. BLOG
    15. SPLIT SECTION
    16. COLUMNS GRID
    17. MAP
    18. ELEMENTS / SHORTCODES
    19. IMG OVERLAY
    20. BORDERS  
    21. PAGE INSTALL
    22. CUSTOM
     
-----------------------------------------------------------------------------------*/
/*---------------------------------------------- 
2. GENERAL ELEMENTS
------------------------------------------------*/
html{
    @include scrollbars(0.5em, $black);  
}

body{
    overflow-y: hidden;
    margin:0;
    padding:0; 
}

/*---------------------------------------------- 
3. HOME PAGE
------------------------------------------------*/


.enterence{ 
    background: $black;
    height:100vh;
    position: fixed;
    transition: all 2s $transition-load;
    width: 0;
    z-index: 20;
    h1{
        

    }

    .container{
        margin-left: 7vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all .5s ease; 
    }
    .name_title{
        margin-top: 6vh;
        transition: all .5s ease;
        h1{
            display: flex;
            flex-direction: column;
            color:$white;
            line-height: 10vw;
            span{ 
                transition: all .5s ease;
                opacity: 1;
                &:first-child{
                    font:{
                        size:10vw;
                    }
                    opacity: 1;
                    display: flex;
                    flex: 1; 
                    
                    
                }
                &:nth-child(2){
                    font:{
                        size:12.5vw;
                    }
                    display: flex;
                    opacity: 1;
                    flex: 1;
                    
                }
            }
        }
    }

    .social_icons{
        transition: all 0.7s $transition-load 3.2s;
        transform: translate(0, 20px);
        opacity: 0;
        a{
            width: 40px; 
            height: 40px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
            transition: box-shadow 0.5s $transition-load; 
            &:hover{
                box-shadow: inset 0px 0px 0px 1px #FFFFFF;  
            }
            &:first-child{
                background-image:url('../img/facebook.svg'); 
            }
            &:nth-child(2){
                background-image:url('../img/twitter.svg');
            }
            &:nth-child(3){
                background-image:url('../img/instagram.svg');
            } 
            &:nth-child(4){
                background-image:url('../img/linkedin.svg'); 
            }
        }
    }

    .navigation{
        display: flex;
        flex:1;
        justify-content: flex-start;
        margin-bottom: 10vh;
        align-items: flex-end;
        nav{
            opacity:0;
            transform:translate(0,20px); 
            transition: all 0.7s $transition-load 2.8s;
            ul{
                padding-left:0;
                list-style: none;
                display: flex;
                width: 35vw;
                li{
                    text-align: center;
                    flex-grow: 1;
                    padding: 1vw;
                    span{
                        opacity: 1;
                        transition:all 0.6s $transition-load;
                        border-top: 2px solid $white;  
                        display: block;
                        margin-top: -0.8vw;
                        width: 0%;
                    }
                    &:hover{
                        span{
                            opacity:1;
                            width: 100%;
                        }
                    }
                    a{
                        color:$white;  
                        text-decoration:none;
                    }
                }
            }
        }
    }

    &.enterence_open{
        width: 60vw;  
        .name_title{         
            span{
                &:first-child{
                    font:{
                        size:10vw;
                    }
                    opacity: 1;
                    display: flex;
                    flex: 1;
                }
                &:nth-child(2){
                    font:{
                        size:12.5vw;
                    }
                    display: flex;
                    opacity: 1;
                    flex: 1;
                }
            }
        }
        nav{
            opacity:1;
            transform: translate(0,0);
        }
        .social_icons{
            opacity: 1;
            transform: translate(0,0); 
        }

    }
    &.enterence_short{
        width: 20vw;

        .container{ 
            margin-left: 4vw;
        }
        .name_title{  
            
            h1{
                display: flex;
                flex-direction: row;       
                span{ 

                    &:first-child{
                        font:{
                            size:5vw;
                        }
                        opacity: 1;
                        display: flex;
                        flex: 1;
                    }
                    &:nth-child(2){
                        font:{
                            size:5vw;
                        }
                        display: flex;
                        opacity: 1;
                        flex: 1;
                        padding-left: 12px;
                    }
                }
            }
        }
        .navigation{
            
            nav{
                opacity:1;
                margin-left: -1vw;
                ul{
                    width: 15vw;
                    flex-direction: column;
                    li{
                        text-align: left;

                        span{
                            
                        }
                        &:hover{
                            &:first-child{
                                span{
                                    width:9vw;
                                }
                            }
                            &:nth-child(2){
                                span{
                                    width:7vw;
                                }
                            }
                            &:nth-child(3){
                                span{
                                    width:11vw;
                                }
                            }
                            span{                                
                                margin-left: -10%;
                            }
                        }
                    }
                }
            }
        }
        .social_icons{
            opacity: 1;
            flex-direction: row;
            display: flex;
            align-items: center;
        }
    }
 }




.white_overlay{
    height: 100vh;
    width: 10vw;
    position: fixed; 
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 10;
    right: 0;
    .svg{
        
        position: absolute;
        top: 10vh;
        z-index: 25;
        right: 3vw;
        #line{

        }
        #triangle{
            animation: animate 3s ease infinite;

            @keyframes animate{
                0%{
                    transform: translate(0,0);
                    opacity: 0;
                }
                30%{
                    opacity: 1;
                }
                70%{
                    opacity: 1;
                }
                100%{
                    transform: translate(40px,0);
                    opacity: 0; 
                }
            }
        }
    }
}

.page_container{
    
    display: flex;
    flex-flow: row;
    transition: all 2s $transition-load ;
    transform: translate(100vw,0);
    &.enterence_short_img{
        transform:translate(30vw,0);
    }
    &.img_load_animation{
        transform: translate(70vw,0);
    }
    .img2{
        width: 35vw;
        position: absolute;
        top: 20vh;
    }
    
}

#contact_about{
    .contact_about_section{
        display: flex;
        flex-flow: row;
        height: 100vh;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        transition-delay: 0.5s;  
        white_overlay{
            background-color: transparent;
        }
        .section{
            padding: 0 5vw; 
            flex: 1;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: column;
        }
        .about_section{
            
        }
        .contact_section{
            .divider{
                border-top: 2px solid #000;
                margin:6vh 0 3vh;
                width: 100%;
            }
            .extra_information{
                width: 100%;
                .information_containers{
                    margin-top: 3vh;
                    flex: 1;
                    display: flex;
                    .extra_title{
                        width: 40%;
                        float:left; 
                    }
                    .extra_text{
                        width: 60%;
                        float:left;
                    }
                }
            }   
        }
    }
    .page_container{
        &.enterence_short_img{ 
            width: 80vw; 
        }
    }
    
}

.testdiv{
    height: 100vh;
    width: 300vw;
}






