h1,h2,h3,h4,h5,h6{
    margin: 0 ;    
}

h1{
    font:{
        family: $font1;
        size: 6vw;
        weight:900;
    }
}

h2{
    font:{
        family: $font1;
        size: 3em;
        weight:700;
    }
}

h3{ 
    font:{
        family: $font1;
        size: 1.9em;
        weight:700;
    }
}

h4{
    font:{
        family: $font1;
        size: 1.5em;
        weight:700;
    }
}
 
h5{
    font:{
        family: $font1;
        size: 1.2em;
        weight:700;
    }
    margin-bottom: 3vh;
}

h6{
    font:{
        family: $font1;
        size: 0.9em;
        weight:400;
    }
}

p{ 
    font:{
        family: $font2;
        size: 0.8em;
        weight:400;
    }
    margin:0;
    color: $gray4; 
    line-height:2em;
   
}

a{
    text-decoration:none;
}

nav{
    a{
        font:{
            family: $font2;
            size: 1.1vw;
            weight:400;
        }
    }
}


/*******************      Form       ********************/

label{
    font:{
        family: $font1;
        size: 0.9em;
        weight:400;
    }
}

input, textarea{
    border:none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    width: 65%;
    float:right;
}

.form_row{
    margin-bottom: 4vh;
}


/*******************      Form  End     ********************/


/*******************      Button       ********************/

.btn{
    border: 1px solid #000;
    &:after{
        position: absolute;
        border-top: 1px solid #000;
        top:50%;
    }
}

button{
    border:none;
    background:none;
}
















